.cuerpo {
  width: 90%;
  height: 370px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px; }
  .cuerpo .descuento {
    background-image: url(../img/descuento-1.png);
    width: 49%; }
    .cuerpo .descuento .transparencia {
      background-color: rgba(28, 28, 27, 0.9);
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      transition: 2s; }
      .cuerpo .descuento .transparencia:hover {
        background-color: rgba(28, 28, 27, 0.4);
        transition: 3s; }
      .cuerpo .descuento .transparencia .letra_top {
        color: white;
        text-align: center;
        font-size: 35px;
        text-decoration: none;
        width: 100%;
        height: 100%;
        padding: 50px 0; }
        .cuerpo .descuento .transparencia .letra_top .impuesto {
          font-size: 17px; }
        .cuerpo .descuento .transparencia .letra_top .porc {
          font-size: 100px; }

.contenido {
  margin: 0 auto;
  width: 90%; }
  .contenido .cont_uno {
    text-align: center;
    margin-bottom: 60px; }
  .contenido .cont_dos {
    margin-bottom: 60px; }
  .contenido .cont_ulti {
    text-align: center; }
  .contenido .sub_contenido {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .contenido .sub_contenido .subt_int2 {
      display: inline-block;
      margin-top: 30px;
      font-size: 15px;
      color: #666a75; }

.cuerpo_final {
  background-color: firebrick;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0; }
  .cuerpo_final .contenido_final .titu_final {
    color: white; }
  .cuerpo_final .contenido_final .parrafo_final {
    line-height: 0.4;
    color: white; }
  .cuerpo_final .contenido_final .parrafo_subfinal {
    line-height: 0.4;
    color: white; }

.logo_menu {
  margin-bottom: 60px; }
  .logo_menu .logo {
    background-color: rgba(227, 231, 234, 0.7);
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .logo_menu .logo .lgo {
      padding: 5px; }
  .logo_menu nav {
    background-color: firebrick;
    width: 90%;
    margin: 0 auto; }
    .logo_menu nav ul {
      display: flex;
      justify-content: center;
      list-style: none; }
      .logo_menu nav ul li a {
        text-decoration: none;
        color: white;
        font-family: Lalezar;
        padding: 10px 25px;
        display: block; }
        .logo_menu nav ul li a:hover {
          background-color: white;
          color: black; }

.titulo {
  text-align: center; }

.container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 10px; }

.conta_imagen {
  display: grid;
  grid-template-columns: repeat(5, 20%); }
  .conta_imagen .concepto_imagen {
    text-align: center;
    font-weight: bold;
    background: darkgray;
    padding-bottom: 5px;
    padding-top: 5px; }
    .conta_imagen .concepto_imagen span {
      font-weight: normal; }

header {
  background-image: url(../img/fondo-1.png); }
  header .logo_menu {
    margin-bottom: 430px; }
    header .logo_menu .logo {
      background-color: rgba(227, 231, 234, 0.7);
      width: 90%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      header .logo_menu .logo .lgo {
        padding: 5px; }
    header .logo_menu nav {
      background-color: firebrick;
      width: 90%;
      margin: 0 auto; }
      header .logo_menu nav ul {
        display: flex;
        justify-content: center;
        list-style: none; }
        header .logo_menu nav ul li a {
          text-decoration: none;
          color: white;
          font-family: Lalezar;
          padding: 10px 25px;
          display: block; }
          header .logo_menu nav ul li a:hover {
            background-color: white;
            color: black; }
  header .marketing {
    width: 90%;
    background-color: rgba(227, 231, 234, 0.7);
    margin: 0 auto;
    display: flex;
    justify-content: space-around; }

/*# sourceMappingURL=cabecera.css.map */
