.descuentos{
	width: 90%;
	height: 370px;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	justify-content: space-between;
}
	.descuentos-1{
		background-image: url(../img/descuento-1.png);
		width: 49%;
	}
		.descuentos-11{
			color: white;
			text-align: center;
			background: rgb(28,28,27,0.9);
			width: 100%;
			height: 100%;
			display: flex;
		justify-content: center;
		align-items: center;
		display: block;
		transition: 2s;
		}
		.descuentos-11:hover{
			background: rgb(28,28,27,0.4);
			transition: 3s;
		}
			.descuento-12{
				border: 1px solid;
			}	
				.descuento-12 .eco{
									text-decoration: none;
									color:white;
									padding: 50px 0px;
									font-size: 35px;
									display: block;
									}
				.deduc{
					font-size: 15px;
				}
				.porc{
					font-size: 100px;
				}									

	.descuentos-2{
		background-image: url(../img/descuento-2.png);
		width: 49%;

	}